

.tab{
  position:fixed;
  padding: .5em;
  text-align:center;
  background-color: $yellow;
  color: $black;
  font-size: 1.75rem;
  &:hover{
    color:$white;
  }
  &.is-opened:after{
    content:"Less";
  }
  &.is-closed:after{
    content:"More";
  }
}
@media (min-width:30em) {
  .tab{
      font-size: 1.5rem;
  }
}

.top{
  border-radius:0 0 1em 1em;
  &.is-opened{
    transition: top ease-out .4s;
    top: 250px;
  }
  &.is-closed{
    transition: top ease-out .4s;
    top: 0px;
  }
}

.right{
  right: 0;
  bottom: 1em;
  border-radius: 1em 0 0 1em;
    &.is-opened{
      transition: right ease-out .4s;
      right: 250px;
    }
    &.is-closed{
      transition: right ease-out .4s;
      right: 0px;
    }
  }



.tab__element{
  position:fixed;
  padding: 1em;
  background-color: $white;
  border-radius: 0;
  font-size: 1.5em;
  min-width: 250px;
  min-height: 60em;
  &.top{
    height:250px;
    border-bottom: .75em solid $yellow;
    transition: top ease-out .4s;
    top:-250px;
    width:100%;
  }
  &.right{
      height:100%;
      border-left: .75em solid $yellow;
      top:0;
      right:-250px;
      width:250px;
      transition: right ease-out .4s;
  }
  .section__head, section,.tab-header{
    display:none;
  }
  .section--always-display{
    display:inline;
  }
  ul {
    column-count: 1;
  }

  footer {
      position: absolute;
      text-align: center;
      bottom: 1em;
      font-size: .75em;
      color: $basic-txt-color;
      padding-top: 1em;
      p {
         margin-right: 2em;

         img{
           height: 1em;
           width: 1em;
         }
     }
  }
}
@media (min-width:30em) {
  .tab__element{
      font-size: 1em;
      min-height: 35em;
      .section__head, section,.tab-header{
        display: inline-block;
      }
      ul {
        column-count: 2;
      }
  }
}
