* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: auto;
  font-family: 'Oswald', sans-serif;
  color: #999999;
  background: #FFFFFF; }

main {
  padding: 0 1em; }

a {
  text-decoration: none;
  color: #333333; }
  a:hover {
    color: #999999; }

ul {
  list-style: none;
  display: inline; }

h2, .header--opened, .header--closed, .pulled, .closed {
  color: #333333;
  font-size: 1.5rem; }

h3 {
  margin-bottom: 0; }

.header__tab {
  position: fixed;
  top: 1em;
  left: 1em;
  padding: .5em;
  text-align: center;
  background-color: #FFFF00;
  color: #000000;
  border-radius: 0 0 1em 1em; }
  .header__tab:hover {
    color: #FFFFFF; }

.header--opened {
  transition: top ease-in .8s;
  top: 250px; }
  .header--opened:after {
    content: "Less"; }

.header--closed {
  transition: top ease-in .8s;
  top: 0px; }
  .header--closed:after {
    content: "More"; }

.header__img {
  position: fixed;
  padding: 1em;
  height: 250px;
  background-color: #FFFFFF;
  border-bottom: 0.75em solid #FFFF00;
  top: -250px;
  width: 100%;
  transition: top ease-in .8s; }

.main__container {
  max-width: 70em;
  margin: auto; }

.section_header {
  width: 100%;
  font-size: 6em;
  text-transform: uppercase;
  text-align: right;
  margin: 0; }

@media (min-width: 30em) {
  .section_header {
    font-size: 5em; } }

.intro-text {
  line-height: 2em;
  padding-bottom: 2em; }

.section__container {
  display: inline-block;
  font-size: 1em;
  width: 16em;
  vertical-align: top; }

.padding--top {
  padding-top: .5em; }

.social-icon {
  display: inline-block;
  height: 2em;
  width: 2em;
  margin-right: .25em;
  transition: fill .1s;
  fill: #000000; }
  .social-icon:hover {
    fill: #999999; }

.bounce:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce; }

@-webkit-keyframes bounce {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.extra--tab {
  position: fixed;
  right: 0;
  bottom: 1em;
  padding: .6em;
  text-align: center;
  background-color: #FFFF00;
  color: #000000;
  border-radius: 1em 0 0 1em; }
  .extra--tab:hover {
    color: #FFFFFF; }

.pulled {
  transition: right ease-in .8s;
  right: 250px; }

.pulled:after {
  content: "Less"; }

.closed {
  transition: right ease-in .8s;
  right: 0px; }

.closed:after {
  content: "More"; }

.more-stuff {
  position: fixed;
  padding: 1em;
  height: 100%;
  background-color: #FFFFFF;
  border-left: 0.75em solid #FFFF00;
  top: 0;
  right: -250px;
  width: 250px;
  transition: right ease-in .8s; }

footer {
  position: relative;
  text-align: center;
  color: #999999; }
  footer p {
    margin-right: 2em; }
    footer p img {
      height: 1em;
      width: 1em; }
