$header-txt-color: #333333;
$title-txt-color: #333333;
$basic-txt-color: #999999;
$black: #000000;
$yellow: #FFFF00;
$white: #FFFFFF;

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    margin: auto;
    font-family: 'Oswald', sans-serif;
    color: $basic-txt-color;
    background: $white;
}
main {
    padding: 0 1em;
}

a {
    text-decoration: none;
    color: $header-txt-color;
    &:hover{
      color: $basic-txt-color;
    }
}
ul {
    list-style: none;
    display: inline;
}
h2 {
    color: $title-txt-color;
    font-size: 1.5rem;
}
h3{
  margin-bottom:0;
}

.header__tab{
  position:fixed;
  top:1em;
  left:1em;
  padding: .5em;
  text-align:center;
  background-color: $yellow;
  color: $black;
  border-radius:0 0 1em 1em;
  &:hover{
    color:$white;
  }
}

.header--opened{
  transition: top ease-in .8s;
  top: 250px;
  @extend h2;
  &:after{
    content:"Less";
  }
}
.header--closed{
  transition: top ease-in .8s;
  top: 0px;
  @extend h2;
  &:after{
    content:"More";
  }
}

.header__img{
  position:fixed;
  padding: 1em;
  height:250px;
  background-color: $white;
  border-bottom: .75em solid $yellow;
  top:-250px;
  width:100%;
  transition: top ease-in .8s;
}


.main__container{
  max-width: 70em;
  margin:auto;
}
.section_header {
    width: 100%;
    font-size: 6em;
    text-transform: uppercase;
    text-align: right;
    margin:0;
}
@media (min-width:30em) {
  .section_header {
      font-size: 5em;
  }
}
.intro-text{
  line-height: 2em;
  padding-bottom: 2em;
}
.section__container {
    display: inline-block;
    font-size: 1em;
    width: 16em;
    vertical-align: top;
}
.padding--top{
  padding-top: .5em;
}
.social-icon {
    display: inline-block;
    height: 2em;
    width: 2em;
    margin-right: .25em;
    transition: fill .1s;
    fill: $black;
    &:hover{
      fill: $basic-txt-color;
    }
}

.bounce:hover {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: bounce;
}
@keyframes bounce {
    to {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    from {
      transform: translateY(0);
    }
}

.extra--tab{
  position:fixed;
  right:0;
  bottom:1em;
  padding:.6em;
  text-align:center;
	background-color: $yellow;
  color: $black;
	border-radius:1em 0 0 1em;
  &:hover{
    color:$white;
  }
}
.pulled{
  transition: right ease-in .8s;
  right: 250px;
  @extend h2;
}
.pulled:after{
  content:"Less";
}
.closed{
  transition: right ease-in .8s;
  right: 0px;
  @extend h2;
}
.closed:after{
  content: "More";
}

.more-stuff{
  position:fixed;
  padding: 1em;
  height:100%;
  background-color: $white;
  border-left: .75em solid $yellow;
  top:0;
  right:-250px;
  width:250px;
  transition: right ease-in .8s;
}

footer {
    position: relative;
    text-align: center;
    color: $basic-txt-color;
    p {
       margin-right: 2em;

       img{
         height: 1em;
         width: 1em;
       }
   }
}
