$header-txt-color: #333333;
$title-txt-color: #333333;
$basic-txt-color: #999999;
$scroller-color: #000000;

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $basic-txt-color;
    background: white;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: $header-txt-color;
}
ul {
    margin: 0 auto;
}
h2 {
    color: $title-txt-color;
    font-size: 1.75rem;
}
.l-max-width {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;

}
.l-flex__container {
    //display: inline-block;
    padding: 0 1em;
    font-size: 1.1em;
    line-height: 2em;
    max-width: 40em;
}
@media (min-width:30em) {
    .l-flex__container {
        padding: 0 3em;
         min-width: 30em;
        flex:1;
    }
}
.header {
    position: fixed;
    z-index: 999;
    top: -100px;
    width: 100%;
    background: none;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
}

.header--hover {
    top: 0px;
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    border-bottom: 1px solid #DCDCDC;
}

.banner {
    position: relative;
    min-height: 32em;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    transition: .3s ease-in-out;
}



.section_header {
    width: 100%;
    font-size: 4em;
    text-transform: uppercase;
    text-align: right;
}
@media (min-width:30em) {
  .section_header {
      font-size: 6em;
  }
}
.social-icon {
    display: inline-block;
    height: 2em;
    width: 2em;
    margin-right: .5em;
    transition: fill .1s;
    fill: #000000;
    &:hover{
      fill: $basic-txt-color;
      border-color: $header-txt-color;
      border-width: thin;
    	border-radius: 50%;
    }
}
@media (min-width:45em) {
    .social-icon {
        display: inline-block;
        height: 3em;
        width: 3em;
        margin-right: 1.5em;
    }
}

.bounce:hover {
      animation-duration: 1s;
      animation-fill-mode: both;
        animation-name: bounce;
}
@keyframes bounce {
    to {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    from {
      transform: translateY(0);
    }
}
.trail-seek__img {
    width: 100%;
    height: 100%;
    max-width: 14em;
    max-height: 14em;
}
.footer {
    position: relative;
    text-align: center;
    margin: 1em auto;
    color: $basic-txt-color;
    padding-top: 4em;
    p {
       margin-right: 2em;
       display: inline;
   }
}
.page_details {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 0.50em;
    background: url("../images/github.svg") no-repeat;
}
